# Credenciales de Login para el API con mTLS
LOGIN_USERNAME=tu-usuario-aqui
LOGIN_CLIENTNAME=tu-cliente-aqui
LOGIN_PASSWORD=tu-password-aqui

# Endpoint de login (relativo al base-url configurado)
LOGIN_ENDPOINT=/auth/login
