target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Keystores, certificados y archivos sensibles ###
# Keystores JKS y PKCS12
keys/*.jks
keys/*.p12

# Certificados y claves privadas
keys/*.pem
keys/*.key

# Archivos de passwords y variables de entorno
keys/pass
.env
